#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&bt BT_CLR_ALL  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &bt BT_CLR_ALL
&trans          &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans          &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                                &trans  &trans    &trans  &trans
            >;
        };
    };
};
